.bimgSize{	
    width: 260px;
}

.hmprod{
	width:160px;
}

.btn-group button{
	height:61px !important;
	width: 105.94% !important;
}


.bootstrap-select.btn-group, 
.bootstrap-select.btn-group[class*="span"] {
    float:right; 
    display: inline-block;
    margin-bottom: 15px;
    margin-left:5px;
}

.btn-group button:hover,.btn-group button:active,.btn-group button:focus{
		height:61px !important;	
}

.btn{
	border:1px solid #CCCCCC;
	
}


