body {
    border-top: 10px solid #fccd2f;
	font-family: 'Raleway', sans-serif;		
}

/*Drop Down Menu*/
ul.nav li#dropdown:hover > ul.dropdown-menu{
    display: block;    
}

.error{
  	border-color:#F00 !important;	
}


h1, h2, h3, h4, h5 h6{
	 font-family:'Raleway',sans-serif;
	 font-weight:300;
}

h1 {
    font-size: 2.5em;
	color:#231f20;
}

h4 {
    font-size: 1.25em;
	color: #8B8B8B;
}

p {
    color: #8B8B8B;
}

a{
	outline:0px none;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover, a:active, a:focus {
	outline:0px none;
	color: #333333;
	text-decoration: none;
}


.sale li{
	line-height:25px;
	font-size:0.650em;
	list-style:none;
}

.bsale li{
	line-height:45px;
	font-size:1.1em;
	list-style:disc;
}


.mini-gallery li a,.gallery li a, .bsale li a, .sale li a{
    color: #231F20;
	display:block;
    text-decoration: none;
}

.gallery li{
	font-size:1.150em;
	line-height:30px;
}


.mini-gallery li{
	font-size:0.938em;
	line-height:30px;
}


.mini-gallery li.active,
.gallery li.active,
.bsale li.active,
.sale li.active{
	color:#fccd2f;
}


.mini-gallery li.active > a,
.gallery li.active > a,
.bsale li.active > a,
.sale li.active > a{
	color:#FCCD2F;
}


.mini-gallery li:hover, .mini-gallery li a:hover,
.mini-gallery li:focus, .mini-gallery li a:focus,
.gallery li:hover, .gallery li a:hover,
.gallery li:focus, .gallery li a:focus,
.bsale li:hover, .sale li:hover,
.bsale li:focus, .sale li:focus,
.bsale li a:hover, .sale li a:hover,
.bsale li a:focus, .sale li a:focus{	
/*    color: #fbd862;*/
    color: #FCCD2F;

    text-decoration: none;
}

.sale li:hover, .sale li:focus{
	font-size:0.70em;
}



div#intro {
    background: url(../img/head-shadow.png) no-repeat scroll center top #edeeee;    
    height: auto;
    margin: 0px auto 20px;
    max-width: 100%;
}

div#abt_content .Lpadding, div#contact_content .Lpadding{
	padding-left:58px;
}


#contact_content h3{
	font-size:1.55em;
	font-weight:400;
}


.bimgSize{
	margin-left: 20px;
    margin-right: 13px;
    width: 300px;
}

.bimgSize p{ 
	text-align:center;
}

.heading{
	font-size:2.600em;
	font-weight:300;
	width:50%;
	line-height:40px;
	padding-top:30px;
	padding-bottom:70px;	
}

/*.heading-contact{
	font-size: 2.5em;
    font-weight: 300;
    line-height: 40px;
    padding-bottom: 5px;
    padding-top: 70px;
}*/

.heading-contact {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 40px;
    padding-bottom: 40px;
}

.heading-contact p{
	color:#333333;
}

.mini-gallery-head{
	font-size:2.600em;
	font-weight:300;	
	line-height:40px;
	padding-left:30px;		
}


.heading-contact-content{
	padding-bottom:70px;
}


.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #FCCD2F;
  text-decoration: none;  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color:#231f20;
	text-shadow: none;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  background-color: transparent;
  color: #fbd862;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: inherit;
  color: #231F20;
}

.dropdown-menu{
	left:-138px;
}

.navbar .nav > li > .dropdown-menu:after{
	left:250px
}

.navbar .nav > li > .dropdown-menu:before{
	left:249px
}


.dropdown-menu.mega-menu {
    min-width: 600px;
    padding: 10px;
}

.dropdown-menu.mega-menu .span2{
	width:26%;
}
.span2{
	width:160px;
	margin-left:25px;
}


.dropdown-menu.mega-menu .span3{
	width:34%;
}

.span3{
	width:22%;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 15px;
}


#myCarousel {
  margin-top: 40px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 140px;
  margin-bottom: 20px;   
}


.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li {
    display: inline;
}


.carousel-inner-inner{
	padding-left:40px; padding-right:50px;
}

.carousel-inner-inner h1, h4, h5{
	font-weight:300;
}

.carousel-control {
  left: -15px;
}
.carousel-control.right {
  left: auto;
  right: -12px;
}

.line{
	background:url(../img/line.png) repeat-x;
	margin-top:15px;
}

#mainHeading{
	font-size:1.150em;
	font-weight:normal;
	margin-top:3px;
}

.txtcenter{
	margin-left: 0px;
	width:270px;
	text-align:center;
}

.hmprod{
	width:180px;
	margin-left: 20px;
}

.hmprod p{
	text-align:center;
}


.span5 h1{
	font-size:2.600em;
	font-family:'Raleway',sans-serif;
	font-weight:300;
}

.span6 p, .span5 p{
	font-size:1.1em;
	line-height:25px;
	color:#8b8b8b;
}

.mucher{
	padding: 50px;
    text-align: center;
}

.btn-primary {
    background-color: #fccd2f;
    color: #000;
    text-shadow: inherit;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-primary {
      background-image: -moz-linear-gradient(top, #fccd2f, #fccd2f);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fccd2f), to(#fccd2f));
	  background-image: -webkit-linear-gradient(top, #fccd2f, #fccd2f);
	  background-image: -o-linear-gradient(top, #fccd2f, #fccd2f);
	  background-image: linear-gradient(to bottom, #fccd2f, #fccd2f);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #000;
  background-color: #fccd2f;
  *background-color: #fccd2f;
}

.btn-center{
	text-align:center;
	padding:10px;
}

.btn-center a{
	text-decoration:none;
	color:#231f20;
}

.btn-center a:hover{
	text-decoration:none;
	color:#231f20;
}

.margintop{
	margin-top:40px;
}
.marginbottom2{
	border-bottom: 1px solid #d4d4d4; padding-bottom: 50px;
}

.marginlZero{
	margin-left:0px;
}

.marginright{
	margin-right:30px;
}



.hm_about{
	margin-top:60px;
}


.acenter{
	text-align:center;
}

.footer{
	background-color:#231f20;
}

ul.footer-links li{
	list-style:none;	
	line-height:25px;	
	font-size:0.938em;
}

.footer-links li a{
	color:#FCCD2F;
	text-decoration:none;
}

.footer-inner{
	margin-left:0px;
	line-height:15px;
}

ul.footer-inner li{
	background: url("../img/spacer.png") no-repeat scroll right 2px transparent;    
    display: inline;
    padding-right: 8px;
    text-decoration: none;
	line-height:11px;
	font-size:0.813em;
}
.footer-inner li a{
	color:#8b8b8b;
	text-decoration:none;
}

.last-item{
	background:none !important;
}

input, select{
	height:50px !important;
	
}

textarea{
	height:140px !important;	
	resize:none;
}

.btn-group button:hover,.btn-group button:active,.btn-group button:focus{
		height:50px !important;	
		background-color:#FFF;
		background-image:inherit;
		outline:0px none;	
		background: url(../img/dropdown.png) no-repeat scroll top right #FFFFFF;
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #FFF;
}

.btn-group button{
		height:50px !important;	
		background-color:#FFF;
		background-image:inherit;
		outline:0px none;
		color:#A3A3A3;
		background: url(../img/dropdown.png) no-repeat scroll top right #FFFFFF;
}

.btn-group.open .dropdown-toggle {
	background: url(../img/dropdown.png) no-repeat scroll top right #FFFFFF;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}

input, select, textarea {
   font-family:'Raleway',sans-serif;
}


.navbar-inner {
    padding-left: 0px;
    padding-right: 0px;
}


.customization_option ul li{
	color: #8b8b8b;
	font-size:13px;
	font-size:0.90em;
	list-style-position:inside;
}

.modal-body {
    max-height: 550px;
}


#myCarousel {
  height:250px;
  margin-top: 40px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 140px;
  margin-bottom: 20px;   
}

.span12 .dropdown-menu{
	height: 250px !important;
}

#prod_gallery, [id*="prod_gallery_view"]{
	height:550px;
}

#gallerytop{
	margin-top:200px;
}

@media (max-width: 979px) {
	
	
	#gallerytop{
		margin-top:0px;
	}
	#myCarousel {
	  height:auto;	 
	}
	
	
	.nav-collapse{
		float:left;
	}
	
	li{
		clear: both;
	}
   .head{
	   display:none;
   }
  .sale li{
	 line-height:20px;
	 font-size:0.650em;
	 list-style:none;

  }
	
  .bsale li{
	 line-height:20px;
	 font-size:0.650em;
	 list-style:none;
  }
  
  .span2{
	  width:200px;
	  margin-left:0px;
  }
  
  .dropdown-menu.mega-menu {
	
	margin-left:-29px;
  }
  
  .nav{
	  font-size:0.650em;
  }
  
  div#abt_content .abtmargin{
	padding-left:20px;	
  }
  
  .heading-contact-content{
	padding-left:20px;
	color:#8b8b8b;
  }
  

  div#abt_content .Lpadding, div#contact_content .Lpadding{
	padding-left:20px;
  }	
  
  .marginbottom{
	padding-bottom:25px;
  }
  
  
  .bimgSize{
	  	margin-left:0px;
  }
  
  #prod_gallery, [id*="prod_gallery_view"]{
		height:auto;
	}
  
 /* ul.nav li#dropdown:hover > ul.dropdown-menu{
		display: none;    
	}*/
}


@media only screen and (max-width: 696px) {
	.bimgSize{		
		width: 40%;
		text-align:center;
	}
	
}


@media only screen and (max-width: 550px) {
	body { font-size:80% !important;}
	
	.modal-body {
		max-height: none; 
	}
	
	.heading-contact-content {
		color: #8B8B8B;
		padding-left: 5px;
		margin-left: 0px !important;
	}
	
	.hmprod{
		width:100%;
		margin-left: 0px;
	}
	
	.span2{
		width:100%;	
		margin-left: 0px;	
	}
	
	.span3{
		width:100%;
		margin-left: 0px;
	}
	
	.bimgSize{		
		width: 100%;
		text-align:center;
	}
	.heading{
		width:100%
	}
	
	.heading-contact{
		font-size: 2em;
		width:100%;
	}
	
}
